*{
    margin:0;
    padding:0;
}

a{/*태그에 색상을 안주면 보라색으로 뜬다.*/
    color: #666;
    cursor: pointer;
}
a:hover{ /*태그가 걸려있는 곳에 마우스를 두면 색상을 바꿔주는 속성*/
    color: #004385;
    background: yellow;
}
a:link{
    text-decoration:none;
}

ul,li{
    list-style:none;
}

#wrap{
    width:100%
}

#header{
    width:1200px;
    height:100px;
    margin:0 auto;
}

#logo{
    margin:20px 0 0 0;
    float:left;
}

#gnb{
    float:right;
}

#gnb>ul>li{
    float:left;
    display:inline-block;
    text-align: center;
    height: 100px;
}

#gnb>ul>li>a{
    display:inline-block;
    width:180px;
    margin:40px 0;
    font-weight:bold;
    font-size:19px;
    color:#004385}
#snb_wrap{
    position: absolute;
    width: 100%;
    background: #00010180;
    opacity: 0.8;
    z-index: 2;
    
}
#snb_wrap>.snb_area{
    clear: both;
    height: 5px;
    width: 1200px;
    overflow: hidden;
    position: relative;
    z-index: 3;
    margin:0 auto;
}
#snb_wrap>.snb_area>h2{
    float: left;
    width: 200px;
    padding: 40px 0 0 40px;
}
#snb_wrap>.snb_area >ul{
    width: 180px;
    height: 183px;
   float: right;
    
}
#snb_wrap>.snb_area>ul>li{
   text-align: center;
    display: block;
    height: 15px;
    padding: 10px 0;
}
#snb_wrap>.snb_area>ul>li>a{
    font-size: 13px;
    font-weight: bold;
    color: #fff;
}

/*---------------서브배너 움직임*/

#snb_wrap>.snb_area.navi{
    animation: slider 0.5s;
    animation-fill-mode: forwards;
}
@keyframes slider{
    from{
        height: 0px;
    }to{
        height: 190px;
    }
}




/*##############################*/

#banner{
    position: relative;
    width: 100%;
    height: 500px;
    z-index: 1;
    margin: 0 auto;
}
#banner>img{
    width: 1920px;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
#banner>.fadein{
    height: 500px;
    display: block;
}

#banner >.fadein{
    position: absolute;
    /*부모 엘리먼트가 위치하고 있는 기준점을 삼아서 움직임*/
    display: none;
}
#banner >img.fadein{
    /*li.fadein li안에서만 기능을 추가하겠다.*/
    animation: fadein 3s;
}
@keyframes fadein{ 
    /*키프레임은 브라우저마다 사용방법이 조금 다를 수 있다.*/
    from{
    opacity: 0;
    }
    to{
    opacity: 1;
    }
}
#banner>.fadein.on{
    /*li.on 보여주고 싶은 영역을 보여준다.
    가려진 영역을 보여준다.*/
    display: block;
}

.pos>nav>ul>li{
    width: 160px;
   height: 60px;
   padding: 10px 20px;
}
.pos>nav>ul>li>a{
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    color: #a8b4be;
}

.pos >nav>ul >li{
    display: inline-block;
    font-size: 19px;
}
.pos{
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0;
    z-index: 50;
    text-align: center;
}
nav{
    display: inline-block;
    position: relative;
    background: #00010180;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#container{
    width:1200px;
    margin:30px auto 0 auto;
    height:920px;
}

.big_box{
    width:50%;
    float:left;
}

.box{
    width:50%;
    height:230px;
    border:1px solid #ececec;
    box-sizing:border-box;
    float:left;
    padding:20px;
}

.box>h2{
    font-size:23px;
    color:#2d2d2d;
}

.box>h3{
    color:#2d2d2d;
}

.box>h2>span{
    font-size:12px;
    display:block;
    color:#4689e1;
}

.box>p{
    width:50%;
    margin:40px 0 0 0;
    font-size:13px;
}

.box>a{
    display:block;
    margin:30px 0 0 0;
    width:100px;
    height:30px;
    background:#6da6ea;
    color: #fff;
    border-radius: 15px;
    line-height: 30px;
    text-align: center;
}


.box1{
    background:url('./image/main_con_ic_01.png') no-repeat;
    background-position:180px 100px;
}

.box2{
    background:url('./image/main_con_ic_02.png') no-repeat;
    background-position:180px 100px;
}

.box3{
    background:url('./image/main_con_ic_04.png') no-repeat;
    background-position:180px 100px;
}

.box4{
    background:url('./image/main_con_ic_05.png') no-repeat;
    background-position:180px 100px;
}

.box5{
    background:url('./image/main_con_ic_06.jpg') no-repeat;
    background-position:180px 100px;
}

.box6{
    background:url('./image/main_con_ic_07.jpg') no-repeat;
    background-position:180px 100px;
}


.box>h5{
    color:grey;
    height:10px;
    margin-top:30px;
    float:left;
    font-size:12px;
    width:90%;
    
}

.box>h5>dd{
    float:right;
    font-size:12px;
}



.btn{
    border:white;
    margin-left: 65px;

}

.box8>h3{
    margin-bottom:0px;
    height:10px;

}

.box8>p{
    margin-bottom:30px;
}

#big_box2{
    width: 50%;
    display:inline-block;
}

#box9,#box10,#box11{
    border:1px solid #ececec;
    box-sizing:border-box;
    padding:20px;

    
}
#box9{
    width:50%;
    float:left;
    height:415px;
}


#box10{
    width:50%;
    float:left; 
    height:415px;
    background-color: #fafafa;
}

#box11{
    width:100%;
    height:505px;
    float:left;
}

#box9>span{
    border:1px solid #ececec;
    display:block;
    margin-top: 20px;
}

#box9>p{
    text-align:center;
    margin-top: 20px;

    font-size:12px;
    color:gray;
}

#box9>h3>span{
    float:right;
}

.review{
    margin-top: 20px;
}

.review>li{
    width:260px;
    height:45px;
    background-color: #fff;
    margin-top: 5px;
    border: 1px solid #ececec;
    padding: 5px 10px;
    line-height: 20px;
    box-sizing: border-box;
}
#box10>h3>span{
    float:right;
}

.review>li>a{
    display:block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.review>li>p{
    display: block;
    text-align: right;
}
#box10>ul>li{
    font-size: 12px;
    color: #666666;
}

#box11>h3>span{
    float:right;
}

#box11>iframe{
    margin-top: 20px;
}

#big_box3{
    width:1200px;
    height: 510px;
    margin: 0 auto;
}

.boox{
    width:390px;
    height:430px;
    border: 1px solid #ececec;
    float:left;
    margin:30px 0 0 0;
    padding:20px;
    box-sizing: border-box;
}

.box12{
    background-color: #fafafa;
    background:url('./image/main_bbs_ic_01.png') no-repeat;
    background-position: 300px 12px;
}

.box13{
    margin:30px 15px 0 15px;
    background:url('./image/main_bbs_ic_02.png') no-repeat;
    background-position: 300px 12px;
}

.box14{
    background-color: #fafafa;
    background:url('./image/main_bbs_ic_03.png') no-repeat;
    background-position: 300px 12px;
}

.boox>h2>span{
    font-size:12px;
    display:block;
    color:#4689e1;
}

.boox>h2{
    margin-bottom:20px;
}

.boox>p{
    color:#aeaeae;
    font-size:12px;
}

.boox>p>span{
    display:block;
    text-align:center;
    margin: 10px auto 20px auto;
    color: #666666;
}

.footer{
    width: 100%;
    height: 200px;
    padding:20px 0;
    margin-top:30px;
    background-color: #323232;

}

#footer2{
    margin: 0 auto;
    width:1200px;
    height:130px;

}

#gnb2{
    float:left;
    display: block;
    width: 1100px;
}

#gnb2>ul>li{
    float:left;
    
}

#gnb2>ul>li>a{
    display:inline-block;
    font-size:12px;
    padding:0 10px;
    font-weight:bold;
    color: #aeaeae;
}


#gnb2 > ul > li > a:hover{ /* a:hover 태그에 마우스가 올라갈떄 어떻게 css가 바꿀거냐?*/
    color:#fff;
}


#gnb2 > ul > li:after { /* li:after 가상공간을 만든다.
    그안에 폰트를 넣고 사이즈랑 색상을 줄 수 있다.*/
    content:" | ";
    color:#555;
    font-size:11px;
}

.mt_{/* after 애프터를 넣고 가상공간을 띄울때 사용했다. (적용 안했음)*/
    margin-right:20px !important; /*임포턴트는 우선권 우선순위을 준다?*/  
}

#gnb2 > ul > li:last-child:after{ /*가상공간의 마지막 부분을 지울때 사용했다. */ 
    content:"";
}

#logo2{
    float:left;
    margin: 35px;
}
.bottom {
    float: left;
    margin-top: 25px;
    margin-left: 50px;
    font-size: 12px;
    color: #aeaeae;
    line-height: 20px;
}
.bottom > .bottom1 {
    margin-top: 10px;
    font-size: 11px;
}
